body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: black;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  border: 1px dashed black; 
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 30px;
}

.past {
  background-color: #d3d3d3;
  color: darkslategrey;
}

.present {
  background-color: #ff6961;
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/*"SAVE" button slightly changes color 
and word gets bigger upon hover*/
.saveBtn:hover { 
  background-color: #0fbcdf;
  font-size: 20px;
}

/* divides the text section hours with black lines*/
.col-8 {
  border-top: 1px solid;
}

